{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2020",
    "paths": {
      "@alerts/*": ["./src/alerts/*"],
      "@lib/*": ["./src/lib/*"]
    },
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs"
  }
}
